td
	if(report.state=='未初始化')
		button.btn-init.btn.btn-xs.btn-primary(data-loading-text="处理中...",type="button",data-toggle="button",data-id='#{report._id}',data-dir='#{report.dir}') 初始化项目
	else
		button.btn-check.btn.btn-xs.btn-primary(data-loading-text="检查中...",type="button",data-toggle="button",data-dir='#{report.dir}',data-name='#{report.projName}') 开始检查
td
	a(href='/report/#{report.dir}/charts',target='_blank') #{report.projName}
td
	a(href='/report/#{report.dir}/#{report._id}/errors',target='_blank') #{report.errorCount}
	if(report.errorDiff==0)
		span.ml10 --
	if(report.errorDiff>0)	
		span.ml10.countUp #{report.errorDiff}
	if(report.errorDiff<0)	
		span.ml10.countDown #{report.errorDiff}
td 
	span #{report.warningCount}
	if(report.warningDiff==0)
		span.ml10 --
	if(report.warningDiff>0)	
		span.ml10.countUp #{report.warningDiff}
	if(report.warningDiff<0)	
		span.ml10.countDown #{report.warningDiff}
td #{moment(report.createdTime).format('YYYY-MM-DD HH:mm:ss')}
td 
	if(!report.versionControl||report.versionControl=='TFS')
		a.btn-edit-tfs(href='#',type="button",data-toggle="modal",data-target="#editerTFSModal",data-projid='#{report.projid}') 修改
	if(report.versionControl=='GIT')
		a.btn-edit-git(href='#',type="button",data-toggle="modal",data-target="#editerGITModal",data-projid='#{report.projid}') 修改
	a.btn-remove.ml10(href='#',data-projid='#{report.projid}') 删除