td
	button.btn-check.btn.btn-xs.btn-primary(data-loading-text="检查中...",type="button",data-toggle="button",data-dir='#{report.dir}',data-name='#{report.projName}') 开始检查
td
	a(href='/report/#{report.dir}/charts',target='_blank') #{report.projName}
td
	a(href='/report/#{report.dir}/#{report._id}/errors',target='_blank') #{report.errorCount}
td #{report.warningCount}
td #{moment(report.createdTime).format('YYYY-MM-DD')}
td 
	a.btn-edit(href='#',type="button",data-toggle="modal",data-target="#editerModal",data-dir='#{report.dir}') 修改
	a.btn-remove.ml10(href='#',data-dir='#{report.dir}') 删除