extends ../layout
block content
	.container
		button#btn-register.btn.btn-xs.btn-primary.mb-2 注册
	.container
		.row
			table.table.table-hover.table-bordered
				thead
					tr
						th 操作
						th 项目名称
						th 错误数量
						th 警告数量
						th 检查时间
				tbody
					each report in reports 
						tr
							td
								button.btn-check.btn.btn-xs.btn-primary(data-loading-text="checking...",type="button",data-toggle="button",data-dir='#{report.dir}',data-name='#{report.projName}') check
							td
								a(href='/#{report.dir}/#{report._id}/errors',target='_blank') #{report.projName}
							td #{report.errorCount}
							td #{report.warningCount}
							td #{report.createdTime}

