td
	if(report.state=='未初始化')
		button.btn-init.btn.btn-xs.btn-primary(data-loading-text="处理中...",type="button",data-toggle="button",data-id='#{report._id}',data-dir='#{report.dir}') 初始化项目
	else
		button.btn-check.btn.btn-xs.btn-primary(data-loading-text="检查中...",type="button",data-toggle="button",data-dir='#{report.dir}',data-name='#{report.projName}') 开始检查
td
	a(href='/report/#{report.dir}/charts',target='_blank') #{report.projName}
td
	a(href='/report/#{report.dir}/#{report._id}/errors',target='_blank') #{report.errorCount}
	if(report.errorDiff==0)
		span.ml10 --
	if(report.errorDiff>0)	
		span.ml10.countUp #{report.errorDiff}
	if(report.errorDiff<0)	
		span.ml10.countDown #{report.errorDiff}
td 
	span #{report.warningCount}
	if(report.warningDiff==0)
		span.ml10 --
	if(report.warningDiff>0)	
		span.ml10.countUp #{report.warningDiff}
	if(report.warningDiff<0)	
		span.ml10.countDown #{report.warningDiff}
td #{moment(report.createdTime).format('YYYY-MM-DD HH:mm:ss')}
td 
	a.btn-edit(href='#',type="button",data-toggle="modal",data-target="#editerModal",data-dir='#{report.dir}') 修改
	a.btn-remove.ml10(href='#',data-dir='#{report.dir}') 删除